/.idea/
/Object_Detection/data/VOCdevkit/VOC2007/
/Object_Detection/Faster_RCNN/model_data/voc_weights_resnet.pth
/Object_Detection/Faster_RCNN/model_data/voc_weights_vgg.pth
/Object_Detection/Faster_RCNN/backbones/resnet50.py
/Object_Detection/Faster_RCNN/map_out/
/Object_Detection/SSD/model_data/ssd_weights.pth
/Object_Detection/Faster_RCNN/img/detect_v.mp4
/Object_Detection/Faster_RCNN/img/v.mp4
/Image_Classification/data/flower_photos/
/Image_Classification/weights/resnet.pth
