/.idea/
/Object_Detection/data/VOCdevkit/VOC2007/
/Object_Detection/Faster_RCNN/model_data/voc_weights_resnet.pth
/Object_Detection/Faster_RCNN/model_data/voc_weights_vgg.pth
/Object_Detection/Faster_RCNN/backbones/resnet50.py
/Object_Detection/Faster_RCNN/map_out/
/Object_Detection/SSD/model_data/ssd_weights.pth
/Object_Detection/Faster_RCNN/img/detect_v.mp4
/Object_Detection/Faster_RCNN/img/v.mp4
/Image_Classification/data/flower_photos/
/Image_Classification/weights/resnet.pth
/Image_Enhance/.ipynb_checkpoints/image_aug_PIL-checkpoint.ipynb
/Object_Detection/YOLOV3/dataset/.ipynb_checkpoints/
/Object_Detection/YOLOV3/model_data/yolo_weights.pth
/Object_Detection/YOLOV4/model_data/yolo4_voc_weights.pth
/data/
/Semantic_Segmentation/PSPNet/model_data/pspnet_resnet50.pth
/Semantic_Segmentation/UNet/model_data/unet_vgg_voc.pth
/Semantic_Segmentation/DeepLabV3+/model_data/deeplab_mobilenetv2.pth
/Object_Detection/YOLOV5/model_data/yolov5_l.pth
